function Graphics.drawCube1 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 31745
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32257
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32017
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32017
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32257
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 31745
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 31745
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32257
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32289
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawCube2 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 16383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 16129
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16257
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16257
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16257
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16257
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16257
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16257
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16129
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 16383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 16383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawCube3 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 2049
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 4097
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4001
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4129
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4017
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4065
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4017
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4129
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4001
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4097
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 2049
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawCube4 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 16129
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 16257
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16017
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16065
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16017
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16065
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16017
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16257
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16129
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 16383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 16129
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 16129
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.eraseCube 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawSpike1 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 96
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 504
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2040
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 8190
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawSpike2 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 96
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 504
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2040
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 8190
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 24576
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 30720
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 32256
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 32640
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 32764
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 32767
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.eraseSpike1 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.eraseSpike2 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawSpaceship 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3977
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 7937
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16255
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4064
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 2016
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.eraseSpaceship 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawGroundLine 2
push constant 16384
push constant 7808
add
pop local 1
push constant 0
pop local 0
label $_WHILE_EXP0
push local 0
push constant 32
lt
not
if-goto $_WHILE_END0
push local 1
push local 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto $_WHILE_EXP0
label $_WHILE_END0
push constant 0
return
function Graphics.screenBlack 1
push constant 16384
pop local 0
label $_WHILE_EXP1
push local 0
push constant 24576
lt
not
if-goto $_WHILE_END1
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto $_WHILE_EXP1
label $_WHILE_END1
push constant 0
return
function Graphics.screenWhite 1
push constant 16384
pop local 0
label $_WHILE_EXP2
push local 0
push constant 24576
lt
not
if-goto $_WHILE_END2
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto $_WHILE_EXP2
label $_WHILE_END2
push constant 0
return
function Graphics.writeYouWin 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 15
call Memory.poke 2
pop temp 0
push constant 0
return
